name: Deployment

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build & Push images to GHCR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    outputs:
      sha: ${{ steps.out.outputs.sha }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push PHP
        uses: docker/build-push-action@v6
        with:
          context: ./docker
          file: ./docker/Dockerfile
          target: prod
          push: true
          tags: |
            ghcr.io/leasoft/pdp-php:${{ github.sha }}
            ghcr.io/leasoft/pdp-php:latest
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}

      - name: Build & Push Nginx
        uses: docker/build-push-action@v6
        with:
          context: ./docker
          file: ./docker/Dockerfile
          target: nginx
          push: true
          tags: |
            ghcr.io/leasoft/pdp-nginx:${{ github.sha }}
            ghcr.io/leasoft/pdp-nginx:latest
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}

      - name: Set outputs
        id: out
        run: echo "sha=${{ github.sha }}" >> $GITHUB_OUTPUT

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: SSH deploy
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            set -euo pipefail
            cd /pdp/PDP

            git checkout -f main
            git pull origin main

            echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u ${{ secrets.GHCR_USER }} --password-stdin

            export IMAGE_TAG="${{ needs.build-and-push.outputs.sha }}"

            docker compose -f docker-compose.prod.yaml pull
            docker compose -f docker-compose.prod.yaml up -d

            docker image prune -f
